.App {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(16, 27, 78, 0.651), rgba(170, 166, 211, 0.671));
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 29vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: rgba(240, 240, 240, 0.9);
}

.App-link {
  color: #09d3ac;
}
/* Title styling */
#App-title {
  font-variant-caps: titling-caps;
}

#next-gen {
  font-size: calc(10px + 1.8vmin);
  vertical-align: super;
}

#brand {
  font-size: calc(10px + 1.3vmin);
  vertical-align: super;
}

#login-paper {
  margin:10px auto;
  background-image: linear-gradient(rgba(140, 140, 140, 0.842), rgba(96, 97, 98, 0.451));
}
#login-button {
  margin:10px auto;
  background-color: rgba(220,220,220,0.8);
}
.ers-table {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 80%;
}
#pagination-controls {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
.disabled-control {
  color:#aaa;
}
#pagination-controls>div{
  font-weight: bold;
  transition:0.5s;
}
#pagination-controls > div:not(.disabled-control):hover {
  color:blue;
  background:#EEE;
  cursor: pointer;
  transition:0.5s;
}

.user-box {
  margin: 5px;
  /* justify-content: center; */
  padding: 80px;
  height: 250px;
  display: inline-block;
  background: white;
  transition: 0.5s;
  border-radius: 5px;
  position: absolute;
}
.user-box:hover {
  background: rgba(96, 97, 98, 0.451);
  transition: 0.5s;
  color: beige;
  cursor: pointer;
}
.user-box #hover-info {
  display: none;
  transition: 0.5s;
  font-size: 13px;
  color: aliceblue;
  position: absolute;
  width: 100%;
}
.user-box:hover #hover-info {
  margin: 30px 5px;
  display: block;
  transition: 0.5s;
}
.user-dialog{
  background: rgba(96, 97, 98, 0.451);
}